// Typography
$base_font = Open Sans;
$font_size = 1.5rem;
$line_height = 1.2;

// Colors
$background = #F5F5FB;
$main_green = #40AE49;
$hover_green = #5AB961;
$dark_hover_green = #399A41;
$font_primary_color = #263B80;
$font_secondary_color = #606060;
$cancel_red = #AE4040;
$dot_option = #E2E2E2;
$low_grey = rgba(0,0,0,0.25);
$filter_up_color = #BFBFBF
$white = #ffffff;
$black = #000000;

